# Python / Sanal ortam
.venv/
__pycache__/
*.pyc

# Tüm Veri, Manifest, Segment ve Model Çıktıları
data/
outputs/
training/manifests/
training/segments/
training/models/

# IDE / Sistem Dosyaları
.vscode/
.DS_Store

# ZIP dosyaları
*.zip

# Geçici dosyalar
temp data/

# Environment
.env

# Notebook
*.ipynb

# CSV
*.csv